

<div class="page-wrapper">
	<div class="content container-fluid">
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<div class="mt-5">
						<h4 class="card-title float-left mt-2">Danh sách</h4>
						<a asp-action="Add" asp-controller="RoomType" class="btn btn-primary float-right veiwbutton">Thêm mới</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<form>
					<div class="row formtype">
						<div class="col-md-4">
							<div class="form-group">
								<label>Loại phòng</label>
								<input class="form-control" type="text" value="">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Role</label>
								<select class="form-control" id="sel1" name="sellist1">
									<option>--Select--</option>
									<option>Employee</option>
									<option>Manager</option>
								</select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Leave Status</label>
								<select class="form-control" id="sel2" name="sellist1">
									<option>--Select--</option>
									<option>Pending</option>
									<option>Approved</option>
									<option>Rejected</option>
								</select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>From</label>
								<div class="cal-icon">
									<input type="text" class="form-control datetimepicker">
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>To</label>
								<div class="cal-icon">
									<input type="text" class="form-control datetimepicker">
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Search</label>
								<a href="#" class="btn btn-success btn-block mt-0 search_button"> Tìm kiếm </a>

							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table class="datatable table table-stripped">
								<thead>
									<tr>
										<th>Stt</th>
										<th>Loại phòng</th>
										<th>Tối đa</th>
										<th>Số lượng</th>
										<th>Hướng nhìn</th>
										<th>Giá tiền</th>
										<th>Trạng thái</th>
										<th class="text-right">Chức năng</th>
									</tr>
								</thead>
								<tbody id="ShowRoomType">
									<tr>
										
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="delete_asset" class="modal fade delete-modal" role="dialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body text-center">
					<img src="assets/img/sent.png" alt="" width="50" height="46">
					<h3 class="delete_class">Are you sure want to delete this Asset?</h3>
					<div class="m-t-20">
						<a href="#" class="btn btn-white" data-dismiss="modal">hủy</a>
						<button type="submit" id="confirmDelete" class="btn btn-danger">Xóa</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<script>
	document.addEventListener('DOMContentLoaded', function () {
		console.log('Trang đã được tải. Đang gọi API...'); // Thêm dòng này để log khi trang tải

		axios.get('https://localhost:7197/api/RoomType/GetAll')
			.then(function (response) {
				const roomTypes = response.data; // Giả sử dữ liệu trả về là một mảng
				console.log(roomTypes);
				const tableBody = document.getElementById('ShowRoomType');
				tableBody.innerHTML = ''; // Xóa nội dung cũ

				let counter = 1;
				roomTypes.forEach(roomType => {
					const row = document.createElement('tr'); // Tạo một hàng mới
					console.log(row);

					row.innerHTML = `
												    <td>${counter}</td>
													<td>${roomType.name}</td>
													<td>${roomType.capacity} người</td>
													<td>${roomType.quantity} phòng</td>
													<td>${roomType.view}</td>
													<td>${roomType.price}</td>
													<td>${roomType.status}</td>
											<td class="text-right">
												<div class="dropdown dropdown-action">
													<a href="#" class="action-icon dropdown-toggle"
													   data-toggle="dropdown" aria-expanded="false">
														<i class="fas fa-ellipsis-v ellipse_color"></i>
													</a>
													<div class="dropdown-menu dropdown-menu-right">
																<a onclick="editRoomTypeId(${roomType.id})" class="dropdown-item">
															<i class="fas fa-pencil-alt m-r-5"></i> Edit
														</a>
															<a onclick="deleteRoomType(${roomType.id})" class="dropdown-item" href="#" data-toggle="modal"
														   data-target="#delete_asset">
															<i class="fas fa-trash-alt m-r-5"></i> Delete
														</a>
													</div>
												</div>
											</td>
					 
					                       `;

					tableBody.appendChild(row);
					counter++;
				});

			})
			.catch(function (error) {
				console.error('Lỗi khi lấy dữ liệu:', error);
			});
	});

</script>


<script src="~/api/admin/roomtype.js"></script>